<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bulletin board | Main</title>
    <h1>Bulletin board</h1>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<div th:each="ann : ${announcements}">
    <h4 th:text="${ann.getAuthor()}"></h4>
    <h4 th:text="${ann.getAuthorEmail()}"></h4>
    <p th:text="${ann.getContent()}"></p>
    <a th:href="@{/{id}(id=${ann.getId()})}">Manage...</a>
    <hr/>
</div>

<a href="/new">Create new announcement</a>

</body>
</html>